*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background-color: rgb(91, 156, 170);
}

button{
  cursor: pointer;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}